{{ define "main" }}
<div class="wyfo">

<div class="pv6 ph3 bg-center cover wyfo-h1" style="background-image: url('/img/img-hdg-wyfo.jpg')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          While You Freak Out
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="mw7 center ph3 mv5">

  {{ range $index, $element := .Params.releace }}
      {{ partial "w-block-movie" $element }}
  {{ end }}

  {{ range $index, $element := .Params.biography }}
      {{ partial "w-block" $element }}
  {{ end }}

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
(function () {
	$(function(){
		$("body:has(div.wyfo)").addClass("wyfo-wrp");
	});
})(jQuery);
</script>
<link href="https://fonts.googleapis.com/css2?family=Khand&display=swap" rel="stylesheet">
{{ end }}
