{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- {{ partial "short-text" .Params.blurb}} -->

<!-- {{ partial "2-up" .Params }} -->

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

<!-- {{ partial "blog" . }} -->

<div class="tc mt5 mb5">
	<a href="/amis-amants/" class="btn raise">amis amants</a>
</div>

{{ end }}
