{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- {{ partial "short-text" .Params.blurb}} -->

<!-- {{ partial "2-up" .Params }} -->

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

<!-- {{ partial "blog" . }} -->

<div class="footer-nav" ontouchstart="">
	<div class="footer-nav-inner">
		<a href="/artists/">Artists</a>
	</div>
</div>
<div class="tc mt4 mb3">
	<a href="/amis-amants/" class="btn raise">amis amants</a>
</div>

<div class="tc mt3 mb3">
	<a href="/wyfo/" class="btn raise">While You Freak Out</a>
</div>

<div class="tc mt3 mb4">
	<a href="/kohei-miyazaki/" class="btn raise">Kohei Miyazaki</a>
</div>
<div class="footer-nav" ontouchstart="">
	<div class="footer-nav-inner">
		<div class="footer-socials">
			<a href="https://twitter.com/kubiswara_z" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
{{ end }}
